* {
  margin: 0;
  padding: 0;
}


/*header*/
header{
  background-color: rgb(30, 32, 30)
}

.img-solar{
  height: 1000px;
  object-fit: cover;
}

h1{
  text-align: center;
  font-size: 50px;
  color: rgb(255, 255, 255)
}
/*main*/
main{
  background-color: rgb(39, 39, 39);
}

h2{
  font-size: 30px;
}

/*containter*/
.container{
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  grid-gap: 70px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
  text-align: center;
  margin: 30px 120px 0px;
}

#item1{
  color: rgb(255, 255, 255);
  border: 3px solid #ffffff;
  margin: 10px;
  height: 300px;
  width: 300px;
  position: relative;
  right: 10px;
  grid-area: 4/1/4/2;
}

#item2{
  color: rgb(255, 255, 255);
  border: 3px solid #ffffff;
  margin: 10px;
  height: 300px;
  width: 300px;
  position: relative;
  right: 10px;
}

#item3{
  color: rgb(255, 255, 255);
  border: 3px solid #ffffff;
  margin: 10px;
  height: 300px;
  width: 300px;
  position: relative;
  right: 10px;
}

#item4{
  color: rgb(255, 255, 255);
  border: 3px solid #ffffff;
  margin: 10px;
  height: 300px;
  width: 300px;
  position: relative;
  right: 10px;
}

#item5{
  color: rgb(255, 255, 255);
  border: 3px solid #ffffff;
  margin: 10px;
  height: 300px;
  width: 300px;
  position: relative;
  right: 10px;
  grid-area: 4/2/4/2;
}

#item6{
  color: rgb(255, 255, 255);
  border: 3px solid #ffffff;
  margin: 10px;
  height: 300px;
  width: 300px;
  position: relative;
  right: 10px;
  grid-area: 4/2/4/2;
}