* {
  margin: 0;
  padding: 0;
}
.border {
  background-color: rgb(24, 22, 22);
  height: 10vh;
}
body {
  background-image: url(./Image/stars\ again.webp);
  background-size: cover;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 500px 100px 500px;
  place-content: center;
  align-items: center;
  row-gap: 100px;
  column-gap: 100px;
}

.bg-img {
  height: 70vh;
  background-image: url(./Image/Solar-system-3-scaled.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-item {
  height: 300px;
  width: 300px;
  border: solid 5px black;
  margin-inline: auto;
  background-image: url(./Image/Solar\ system.webp);
}
.grid-item1 {
  height: 300px;
  width: 300px;
  border: solid 5px black;
  margin-inline: auto;
  background-image: url(./Image/Solar-system-3-scaled.jpg);
  background-size: cover;
}
.grid-item2 {
  height: 300px;
  width: 300px;
  border: solid 5px black;
  margin-inline: auto;
  background-image: url(./Image/Planets/Earth.jfif);
  background-size: cover;
}
.grid-item3 {
  height: 300px;
  width: 300px;
  border: solid 5px black;
  margin-inline: auto;
  background-image: url(./Image/Planets/Jupiter.jfif);
  background-size: cover;
}
.grid-item4 {
  height: 300px;
  width: 300px;
  border: solid 5px black;
  margin-inline: auto;
  background-image: url(./Image/Planets/Mercury.webp);
  background-size: cover;
}
.grid-item5 {
  height: 300px;
  width: 300px;
  border: solid 5px black;
  margin-inline: auto;
  background-image: url(./Image/Planets/Neptune.jpg);
  background-size: cover;
}
.grid-item6 {
  height: 300px;
  width: 300px;
  border: solid 5px black;
  margin-inline: auto;
  background-image: url(./Image/Planets/OSIRIS_Mars_true_color.jpg);
  background-size: cover;
}
.grid-item7 {
  height: 300px;
  width: 300px;
  border: solid 5px black;
  margin-inline: auto;
  background-image: url(./Image/Planets/Sun.jpg);
  background-size: cover;
}
.grid-item8 {
  height: 300px;
  width: 300px;
  border: solid 5px black;
  margin-inline: auto;
  background-image: url(./Image/Planets/Uranus.jpg);
  background-size: cover;
}

.footer {

}